:root {
    --background-color: #f1f1f1;
    --border-width: 1px;
    --border-color: #000;
    --font-color: #333;
    --yellow-post-it: yellow
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #242424;
        --border-width: 1px;
        --border-color: #fff;
        --font-color: #fff;
        --yellow-post-it: darkgoldenrod;
    }
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    text-align: center;
    padding: 0;
}

.panel-right-bottom {
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 150px;
    margin-left: -150px;
}

.panel-right-top {
    position: absolute;
    right: 0;
    top: 50px;
    width: 50px;
    margin-left: -50px;

}

.panel-top-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    margin-bottom: -40px;
    border-radius: 0 0 0 5px;
    border-bottom: var(--border-width) solid var(--border-color);
    border-left: var(--border-width) solid var(--border-color);
}
