:root {
    --background-color: #f1f1f1;
    --background-color-dark: #eaeaea;
    --outside-board-color: #808080;
    --border-width: 1px;
    --border-color: #000;
    --font-color: #333;
    --yellow-post-it: #f8f398;
    --green-post-it: #cbf078;
    --orange-post-it: #f1b963; 
    --red-post-it: #e46161; 
}


@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #242424;
        --background-color-dark: #292929;
        --outside-board-color: #000000;
        --border-width: 1px;
        --border-color: #fff;
        --font-color: #fff;
        --yellow-post-it: darkgoldenrod;
        --green-post-it: #7e964b;
        --orange-post-it: #ecb56277; 
        --red-post-it: #e461617e; 
    }
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.panel-right-bottom {
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 150px;
    margin-left: -150px;
    z-index: 2;
}

.panel-right-top {
    position: absolute;
    right: 0;
    top: 50px;
    width: 50px;
    margin-left: -50px;
    z-index: 2;
}

.panel-top-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    margin-bottom: -40px;
    border-radius: 0 0 0 5px;
    border-bottom: var(--border-width) solid var(--border-color);
    border-left: var(--border-width) solid var(--border-color);
    z-index: 2;
}
